<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0">Who we are</h2>
          <hr class="divider light my-4" />
          <p class="text-white-50 mb-4">
            Facelift, established in the year 2017 is an emerging, vibrant and professionally managed Management
            Consulting, HR Recruitment and Training company catering services to different organizations across Nepal, in
            the most innovative, qualitative, time bound & cost effective manner. Within short span of time we recognize
            that our success depends entirely on how well we serve our clients and nothing else takes supremacy over our
            promise to provide Proactive, Appropriate and Receptive Professional Services. We have a professional team and
            believes in Total Team Efforts and continues improvement in every aspects to perfect our-self in achieving
            organizational goals.
            We believe in generously sharing the fruits of our success with those who have made it possible. Our drive –
            Mark your Presence</p>
          <!-- <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a> -->
        </div>
      </div>
    </div>
  </section>