<!-- services-->
<section class="page-section" id="services" class="services">
  <div class="container">
    <h2 class="text-center mt-0">At Your Service</h2>
    <hr class="divider my-4" />

    <div class="row">
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="fas fa-address-card fa-5x"></i></div>
          <h4 class="title"><a href="">Placement</a></h4>
          <p class="description">FaceLift is best at placing the right candidates in the right position in your
            organization. We constantly seek feedback
            from your organization for prospective augmentation of our recruitment process.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0 fa-5x">
        <div class="icon-box">
          <div class="icon"><i class="fas fa-chalkboard-teacher"></i></div>
          <h4 class="title"><a href="">Training</a></h4>
          <p class="description">We offer corporate training to organizations that seek to improve their business
            productivity and people performance.
            Our key strength is customization. We integrate your organization's culture, values, systems and management
            style into our training programs thus ensuring that the training communication is in sync with your
            organization’s mission and goals.</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0 fa-5x">
        <div class="icon-box">

          <div class="icon"><i class="far fa-comments"></i></div>
          <h4 class="title"><a href="">Consulting</a></h4>
          <p class="description">FaceLift has a professional team that believes in Total Team Efforts and continues
            improvement in every aspect to perfect our-self in achieving organizational goals. FaceLift aims in
            fulfilling the requirement as per the set
            standard by the company with maximum potential using the best available & existing resources building
            cordial relationship between the employee & the employer.</p>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- services end-->


<!-- Call to action-->
<section class="page-section bg-dark text-white">
  <div class="container text-center">
    <h2 class="text-center mt-0">Employers are the heart of our business, and
      our employees are the heartbeat</h2>
    <hr class="divider my-4" />

    <!-- carousel client's image -->
    <div class="carouselImg">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let image of images">
          <img [src]="image.src">
        </ng-template>
      </owl-carousel-o>
    </div>
    <!-- carousel client's image end-->

  </div>
</section>
<!-- Call to action end-->


<!-- Contact -->
<app-contact></app-contact>
<!-- Contact end -->




<!-- ======= Footer ======= -->
<footer class="footer-section">
  <div class="container">
    <div class="footer-content pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-lg-4 mb-50">
          <div class="footer-widget">
            <div class="footer-logo">
              <a href="index.html"><img src="https://s3.amazonaws.com/facelift.np/img/facelift_logo.png"
                alt="facelift_logo" class="img-fluid"></a>
            </div>
            <div class="footer-text">
              <p>We are an emerging, vibrant and  professionally managed Management Consulting,
                 HR Recruitments and Training company catering services to different organizations across Nepal, 
                 in the most innovative, qualitative, time bound & cost effective manner.</p>
            </div>

          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Contact Us</h3>
            </div>
            <div class="footer-text mb-25">
              <p>Email: info@facelift.com.np</p>
            </div>
            <div class="footer-text mb-25">
              <p>Phone: (+977)-1-4427825</p>
            </div>
            <div class="footer-text mb-25">
              <p>Address: 524, Dasrath Chand Marga, Baluwatar, Kathmandu</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Connect with us on Social Media</h3>
            </div>
            <div class="footer-social-icon">
              <a href="https://www.facebook.com/facelift014427825/"><i class="fab fa-facebook-f fa-3x"></i></a>
              <a href="https://www.linkedin.com/company/face-lift-pvt-ltd"><i class="fab fa-linkedin-in fa-3x"></i></a>
              <a href="https://instagram.com/facelift_nepal"><i class="fab fa-instagram fa-3x"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer><!-- End Footer -->